# Basic Calculations

In [1]:
2 + 5

7

In [2]:
3 * 4

12

In [3]:
7-3

4

In [4]:
10/5

2.0

In [5]:
10%2

0

# Variables

In [6]:
# creating a variable and assigning a value
a = 10

In [7]:
#printing (displaying) the value of a variable using PRINT command
print(a)

10

Note: when you change the value of a variable the old value gets overwritten (replaced) with the new value.

In [8]:
a = 7
print(a)

7

# Data types in Python

Unlike many other languages Python has only limited data types. The most commonly used data types are "Numbers" and "Characters" (text).

Numbers:
Numbers are classified into two types: Integer and Float
ex: Integers are fixed numbers like 1, 2, 3, 10 etc.
    Floats are decimal point numbers like 1.5, 2.7, 5.9 etc.
    
Chatacters:
Characters are textual values also called Strings and are enclosed in quotes.
ex: 'John', 'Hyderabad' etc.

In [9]:
name = 'Naresh'
print(name)

Naresh

In [10]:
place = "Hyderabad"
print(place)

Hyderabad

# checking the data type of a variable

type() command is used to check the data type of a variable

In [13]:
x = 10
print(type(x))

<class 'int'>

In [15]:
y = 3.7
print(type(y))

<class 'float'>

In [16]:
z = 'apple'
print(type(z))

<class 'str'>

# Logical Operators

In [19]:
# AND operator: if both the inputs are True then the o/p will be True else it will be False
True and True

True

In [20]:
True and False

False

In [21]:
# OR : if anyone of the input is True then the o/p will be True else it will be False
True or True

True

In [22]:
True or False

True

In [23]:
False or False

False

In [24]:
# NOT : acts as a negation operator. The o/p will be the opposite of the i/p
not True

False

In [25]:
not False

True

Comparision Operators

In [28]:
2 > 5

False

In [29]:
5 < 7

True

In [30]:
5 >= 5

True

In [31]:
7 <= 10

True

In [32]:
10 == 10

True

In [33]:
10 != 12

True

# Strings

In [34]:
x = 'apple'
print(x)

apple

In [35]:
print("Welcome to Python")

Welcome to Python

In [36]:
x = 'Water'
y = 'Melon'
z = x + y
print(z)

WaterMelon

In [37]:
x = 10
y = '5'
z = x + y
print(z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

you can't add an integer and a string. First convert the string variable to either integer of float.

In [38]:
z = x + int(y)
print(z)

15

In [39]:
z = x + float(y)
print(z)

15.0

In [40]:
#Splitting a string using split() command
desig = "I'm a Data Scientist"
desig.split()

["I'm", 'a', 'Data', 'Scientist']

In [44]:
# split () with a delimiter
desig = "I'm, a, Data, Scientist"
desig.split(",")

["I'm", ' a', ' Data', ' Scientist']

In [43]:
# Joining strings using join() command
x = ["I'm", 'a', 'Data', 'Scientist']
"".join(x)

"I'maDataScientist"

In [42]:
" ".join(x)

"I'm a Data Scientist"

# Indexing

Indexing is a concept of accessing individual characters or elements.

In python indexing always starts from 0(zero). 
We access a particular element using the index brackets [ ]

In [48]:
x = 'Apple'
print("accessing the first element:", x[0])
print("accessing the second element:", x[1])
print("accessing the third element:", x[2])
print("accessing the fourth element:", x[3])
print("accessing the fifth element:", x[4])
print("accessing the last element:", x[-1])

accessing the first element: A
accessing the second element: p
accessing the third element: p
accessing the fourth element: l
accessing the fifth element: e
accessing the last element: e

# Slicing

Slicing is the concept of accessing a portion or some elements. It has start and end values.

In [51]:
x[0:3] # accessing first three elements

'App'

In [52]:
x[1:5]

'pple'

In [54]:
#when you dont specify start value, it will start from the default index value of 0
x[:4]

'Appl'

In [55]:
#when you dont specify the end value, it will print upto the end value.
x[0:]

'Apple'

In [57]:
x[-4:-1]

'ppl'

In [58]:
x[-2:]

'le'

In [67]:
# reversing a string
x[::-1]

'elppA'